/* body, html{
    background-image: url('./assets/irfan-alijagic-hRa34Q9ILKg-unsplash.jpg');
} */
body, html {
    height: 100%;
    margin: 0;

    background-image: url("./assets/background1.jpg");
    
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}